{%extends "base.html"%}
{%block title%}Motivative Quotes{%endblock%}

{%block mainContent%}
<div class="errorPage" style="height: 70vh;width: 100%;display: flex;justify-content: center;align-items: center;flex-direction: column;">
<lottie-player src="https://assets6.lottiefiles.com/packages/lf20_F3k8xS.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
<div class="goTo" style="margin: 3rem 0;">
<h1>You seems like you have lost 🤪</h1>
<a href="/" style="font-size: 1.5rem;display: block;margin-top: 1rem;"><i class="fas fa-long-arrow-alt-left"></i> Go to Home</a>
</div>
</div>
{%endblock%}


{%block myscript%}
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
{%endblock%}
