{%extends "base.html"%}
{%load static%}

{%block title%}Motivative Quotes{%endblock%}

{%block styles%}<link rel="stylesheet" href="{%static "styles/index.css"%}?{% now "U" %}">{%endblock%}

{%block mainContent%}

<h3 class="title__">Popular Quotes Category</h3>

<section class="myCategoriesList">

   <div class="gridCategory commonDivs">
    {%for quoteCategory in myCategories%}
    <div class="categoryBox" data-category={{quoteCategory.slug}}>
        <!-- <img src="{%static "images/category/balloon.png"%}" alt="birthday category wishes"> -->
        <img src="{{quoteCategory.img.url}}" alt="birthday category wishes">
        <h3>{{quoteCategory.name}}</h3>
    </div>
    {%endfor%}
   </div>

   <div class="adsSection">

    <section class="search">
        <form action="{%url 'search'%}">
           <i class="material-icons">search</i>
            <input name='q' type="text" required placeholder="Search..">
        </form>
        
       </section>

    <div class="adsContainer">
        <!-- <img src="{%static "images/thumbnails/ads.png"%}" alt=""> -->
        <lottie-player src="https://assets7.lottiefiles.com/private_files/lf30_uqcbmc4h.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
       
    </div>

   </div>

</section>


<section class="newsletter">
    <h3>Subscribe to us</h3>
    <p>Stay motivated, get daily quotes straight to your email for free</p>
    <form action="/" class="newsForm" method="POST">
        {%csrf_token%}
        <input type="text" required name='name' placeholder="Your name">
        <input type="email" required name="email" placeholder="Your favourite email">
        <button type="submit">Subscribe</button>
    </form>
</section>

<!-- Most Loved Quotes -->

<h3 class="title__">Recommended Quotes</h3>

<main class="lovedquotes">
    
    {%for quote in recommendedQuotes%}
    <div class="quote">
    <section class="quoteWithImage"  data-quote-slug={{quote.slug}}>
     <img src="{%static "images/category/left-quote.png"%}" alt="" class="quoteImg">
     <audio src="{%static "audio.mp3"%}"></audio>
     <p class="myquote">{{quote.quote}}</p>
    </section>
     <div class="copylike">
        <button class="like_" data-quote-id={{quote.id}}><span>{{quote.likes}}</span>  <i class="far fa-heart"></i> </button>
        <button class="copy_ animate__animated" data-quote-id={{quote.id}} data-quote-text= "{{quote.quote}}" >COPY <i class="far fa-copy"></i>  </button>
    </div>
    <audio id="audio" src="{%static "audio.mp3"%}"></audio>
    </div>
    {%empty%}
    <h3 style="margin-bottom:30vh;font-weight: 500;">Quotes related to this category will be available soon.</h3>
    {%endfor%}

</main>


<!-- <div class="explore_more">
    <button>Explore More</button>
</div> -->

<h3 class="title__">Recent Articles</h3>


<section class="myCategoriesList">

   <div class="commonDivs">
    {%for blog in recentBlogs%}

    <article class="articleCard">

        <h2><a href="{%url "blog-details" blog.slug%}" class="classTitle">{{blog.title}}</a></h2>
        <div class="author_details">
            <p> <span><i class="far fa-user"></i></span> <span>{{blog.author}}</span>   </p>
            <p class="articleDate"> <span><i class="far fa-clock"></i></span> <span>{{blog.createdAt|date:'F j, Y'}} </span></p>
        </div>

        <div class="article_details">
            <a href="{%url "blog-details" blog.slug%}"><img loading="lazy" src="{{blog.featuredImage.url}}" alt=""></a> 
            <div>
                <p>  {{blog.metaDesc}} ...</p>
                <a href="{%url "blog-details" blog.slug%}" class="more">Read more</a>
            </div>
        </div>

    </article>

    {%endfor%}
   </div>

   <div class="adsSection">

    <div class="adsContainer_mini">
     <!-- <p>Ads Section</p> -->
     <!-- <img src="{%static "images/thumbnails/ads2.png"%}" alt=""> -->
     <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_wbvgzbuk.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
     
    </div>

    <p style="font-weight: 600;margin: 1rem 0;">Tags</p>
    <div class="tags">
        <a href="">Happy Life</a>
        <a href="">Rich</a>
        <a href="">Health</a>
        <a href="">Jokes</a>
        <a href="">Friends</a>
        <a href="">Animals</a>
    </div>

   </div>

</section>



<h3 class="title__">Words from world's inspirational personalities</h3>

<div class="personsSection" >


<div class="list1">

 <a href="{%url "quote-category" "sayings-by-famous-peoples"%}"> Abdul Qadeer Khan </a>
 <a href=""> Abraham Lincoln </a>
 <a href=""> Albert Camus </a>
 <a href=""> Alexander Pope </a>
 <a href=""> Alexander the Great </a>
 <a href=""> George Bernard Shaw </a>
 <a href=""> Johann Wolfgang von Goethe </a>
 <a href=""> H. L. Mencken </a>
 <a href=""> John Muir </a>
 <a href=""> Lucius Annaeus Seneca </a> 
 <a href=""> Robin Williams </a>
 <a href=""> Nelson Mandela </a>
 <a href=""> Sigmund Freud </a>
 <a href=""> Ronald Reagan </a>
 <a href=""> Rabindranath Tagore </a>

</div>


<div class="list2">

 <a href=""> Abdul Qadeer Khan </a>
 <a href=""> Abraham Lincoln </a>
 <a href=""> Albert Camus </a>
 <a href=""> Alexander Pope </a>
 <a href=""> Alexander the Great </a>
 <a href=""> George Bernard Shaw </a>
 <a href=""> Johann Wolfgang von Goethe </a>
 <a href=""> H. L. Mencken </a>
 <a href=""> John Muir </a>
 <a href=""> Lucius Annaeus Seneca </a> 
 <a href=""> Robin Williams </a>
 <a href=""> Nelson Mandela </a>
 <a href=""> Sigmund Freud </a>
 <a href=""> Ronald Reagan </a>
 <a href=""> Rabindranath Tagore </a>

</div>


<div class="list3">

 <a href=""> Voltaire </a>
 <a href=""> Thomas Sowell </a>
 <a href=""> Les Brown </a>
 <a href=""> Juice Wrld </a>
 <a href=""> Steve Jobs </a>
 <a href=""> George Bernard Shaw </a>
 <a href=""> Johann Wolfgang von Goethe </a>
 <a href=""> H. L. Mencken </a>
 <a href=""> Julius Caesar </a>
 <a href=""> Lucius Annaeus Seneca </a> 

</div>

<div class="list4">
<!-- <p>Ads Section</p> -->
<!-- <img src="{%static "images/thumbnails/ads3.jpg"%}" alt=""> -->
<lottie-player src="https://assets6.lottiefiles.com/packages/lf20_mfxcee5x.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
</div>

</div>
{%endblock%}

{%block myscript%}
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<script>

    //quote category
    var categorys = document.querySelectorAll(".categoryBox")
    categorys.forEach((category)=> {
	var slug = category.getAttribute("data-category")
    category.addEventListener("click",()=>{
        window.location.href="/quotes/"+slug
    });
    });


    //quote detail
    var quotes = document.querySelectorAll(".quote section")
    quotes.forEach((quote)=> {
	var slug = quote.getAttribute("data-quote-slug")
    quote.addEventListener("click",(e)=>{
        window.location.href="/quote/"+slug
    });
    });

    function play() {
        var audio = document.getElementById("audio");
        audio.currentTime = 0
        audio.play();
      }


    //like quote
    const quoteToLike = document.querySelectorAll(".like_")
    quoteToLike.forEach((x)=> {
	const id = x.getAttribute("data-quote-id")
    x.addEventListener("click",(e)=>{
        const likeQuote = async (quoteID) =>{
        const res = await fetch("http://127.0.0.1:8000/quote/like-quote/"+quoteID)
        const data = await res.json()
        x.firstElementChild.textContent=data.likes
       } 
        likeQuote(id)
        play()
    });
    });

    //copy quote
    const quoteToCopy = document.querySelectorAll(".copy_")
    quoteToCopy.forEach((x)=> {
	const text = x.getAttribute("data-quote-text")
	const id = x.getAttribute("data-quote-id")
    x.addEventListener("click",(e)=>{
        x.classList.add('animate__tada')
        navigator.clipboard.writeText(text);
        setTimeout(()=>{
        x.classList.remove('animate__tada')
        },500)
        const CopyQuote = async (quoteID) =>{
           await fetch("http://127.0.0.1:8000/quote/copy/"+quoteID)
       } 
       CopyQuote(id)
    });
    });

</script>
{%endblock%}