{%extends "base.html"%}
{%load static%}
{%block title%}Motivative Quotes{%endblock%}

{%block styles%}<link rel="stylesheet" href="{%static "styles/quoteDetails.css"%}?{% now "U" %}">{%endblock%}

{%block mainContent%}
<article class="myArticle">
<div class="quoteImg" id="capture">
    <div class="overlay"></div>
    <img class="featuredImage" src= {{quote.backgroundImage.url}} alt="">
    <div class="txt">
    <h1>
        {{quote.quote}}
        <br> <br>
          -  {{quote.author}}
    </h1>
    </div>
</div>
<div class="buttons">
    <button class="copy_ animate__animated" data-quote-id={{quote.id}} data-quote-text= "{{quote.quote}}">Copy <i class="far fa-copy"></i></button>
    <button class="secondbtn_">Download Image <i class="fas fa-download"></i></button>
    <button class="edit_">Edit Quote <i class="fas fa-edit"></i></button>
</div>
</article>

{%endblock%}


{%block myscript%}
<script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
<script>
    document.querySelector(".secondbtn_").addEventListener('click',()=>{
        html2canvas(document.querySelector("#capture")).then(canvas => {
        var a = document.createElement('a');
        a.href = canvas.toDataURL("image/jpeg").replace("image/jpeg", "image/octet-stream");
        a.download = 'quote.jpg';
        a.click();
        });  
    })

    //copy quote
    const quoteToCopy = document.querySelectorAll(".copy_")
    quoteToCopy.forEach((x)=> {
	const text = x.getAttribute("data-quote-text")
	const id = x.getAttribute("data-quote-id")
    x.addEventListener("click",(e)=>{
        x.classList.add('animate__tada')
        navigator.clipboard.writeText(text);
        setTimeout(()=>{
        x.classList.remove('animate__tada')
        },500)
        const CopyQuote = async (quoteID) =>{
           await fetch("http://127.0.0.1:8000/quote/copy/"+quoteID)
       } 
       CopyQuote(id)
    });
    });


    //take to editor section
    const edit = document.querySelector(".edit_")
    const imageData = {
        quote : "{{quote.quote}}",
        author : "{{quote.author}}",
        backgroundImage : "{{quote.backgroundImage.url}}",
        overLayColor : '#000000',
        overLayOpacity : '2',
        fontFamilyQuote : 'Kalam',
        fontFamilyAuthor : 'Kalam',
        quoteFontSize : '40',
        authorFontSize : '24',
        quoteAlignment : 'center',
        authorAlignment : 'center',
        quoteFontColor : '#ffffff',
        authorFontColor : '#ffffff',
        quoteFontBold : '400',
        authorFontBold : '400',
        quoteFontItalic : 'normal',
        authorFontItalic : 'normal'
    }
    edit.addEventListener('click',()=>{
        window.localStorage.setItem('imageData',JSON.stringify(imageData))
        window.location.href = "/motivativequotes/quote-maker/"
    })
</script>
{%endblock%}
