{%extends "base.html"%}
{%load static%}
{%block title%}Motivative Quotes{%endblock%}

{%block styles%}<link rel="stylesheet" href="{%static "styles/quoteMaker.css"%}?{% now "U" %}">{%endblock%}

{%block mainContent%}

<div class="mainEditContainer">
    <div class="layer_edit"></div>

    <div class="edit">


        <div class="editOptions">

            <h3>Enter your quote</h3>
            <div class="slidecontainer">
                <input type="text" id="quote_id">
            </div>

            <h3>Author</h3>
            <div class="slidecontainer">
                <input type="text" id="author_id">
            </div>

            <h3>Overlay Color</h3>
            <div class="slidecontainer">
                <input type="color" value="#000000" class="slider1" id="colorSelector">
                <span id="colorShow">#000000</span>
            </div>

            <h3>Overlay Opacity</h3>
            <div class="slidecontainer">
                <input type="range" min="0" max="10" value="7" class="slider" id="overLayRange">
            </div>


            <h3>Select your own image</h3>
            <div class="image__">
                <input type="file" accept="image/*" style="display: none;" name="image" id="file"  onchange="loadFile(event)">
                <img id="output_" alt="">
                <p> <i class="far fa-images"></i> Select your own background image</p>
            </div>

        </div>

        <div class="buttons">
            <!-- <button>Copy <i class="far fa-copy"></i></button> -->
            <button class="secondbtn_">Download Image <i class="fas fa-download"></i></button>
        </div>

    </div>

    <div class="myArticle">

        <div class="textEditor edit_quote_ active_">
            <select name="" class="fonts_list" id="fonts_list_quote"></select>
            <button class="decFont">-</button><input class="showSize" type="text"><button class="incFont">+</button>
            <button class="alignLeft"><i class="fas fa-align-left"></i></button> <button class="alignCenter"><i class="fas fa-align-center"></i></button><button class="alignRight"><i class="fas fa-align-right"></i></button>
            <button class="fontColor cs_quote">A</button>
            <input type="color" class="selectColor" value="#ffffff">
            <button class="fontBold">B</button>
            <button class="fontItalic">I</button>
        </div>

        <div class="textEditor edit_author_">
            <select name="" class="fonts_list" id="fonts_list_author"></select>
            <button class="decFont">-</button><input class="showSize" type="text"><button class="incFont">+</button>
            <button class="alignLeft"><i class="fas fa-align-left"></i></button> <button class="alignCenter"><i class="fas fa-align-center"></i></button><button class="alignRight"><i class="fas fa-align-right"></i></button>
            <button class="fontColor cs_author">A</button>
            <input type="color" class="selectColor" value="#ffffff">
            <button class="fontBold">B</button>
            <button class="fontItalic">I</button>
        </div>

        <div class="quoteImg" id="capture">
            <div class="overlay"></div>
            <img class="featuredImage" src="https://images.unsplash.com/photo-1497561813398-8fcc7a37b567?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="">
            <div class="txt">
              <section>
               <p class="quote__ ">If you want to live a happy life, tie it to a goal, not to people or things.</p> 
                <p class="author__">- Ray Goforth</p>
              </section>
            </div>
        </div>

        <div class="edit__all">
            <span class="material-icons">edit</span>
        </div>

        <div class="edit__all download_"  style="left: 3%;">
            <span class="material-icons"> download </span>
        </div>
        </div> 
</div>




{%endblock%}



{%block myscript%}
<script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
<script src="{%static "quoteMaker.js"%}?{% now "U" %}"></script>
<script>
    const layerEdt = document.querySelector('.layer_edit')
    const editMenu = document.querySelector('.edit')
    const showEdit = document.querySelector('.edit__all')
        layerEdt.addEventListener('click',()=>{
          editMenu.style.display='none'
          layerEdt.style.display='none'
        })
        showEdit.addEventListener('click',()=>{
          editMenu.style.display='block'
          layerEdt.style.display='block'
        })
</script>
{%endblock%}


