<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    {%block title%}
    {%endblock%} 
    </title>
    <link rel="shortcut icon" type="image/png" href={%static "images/category/l.png"%}/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&family=PT+Sans:wght@400;700&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Kalam&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Amita&family=Anton&family=Bebas+Neue&family=Berkshire+Swash&family=Bubblegum+Sans&family=Bungee&family=Bungee+Inline&family=Bungee+Shade&family=Dancing+Script:wght@400;500&family=Fredericka+the+Great&family=Just+Me+Again+Down+Here&family=Kalam&family=Lobster+Two&family=Lora:ital,wght@0,400;0,500;0,600;1,400&family=Metal+Mania&family=Monofett&family=Montserrat:wght@300;400&family=Oswald:wght@400;600&family=PT+Sans&family=Pacifico&family=Permanent+Marker&family=Poppins:wght@300;400;500&family=Press+Start+2P&family=Roboto+Slab:wght@300;400;500&family=Roboto:wght@300;400&family=Rock+Salt&family=Rubik+Mono+One&family=Sarpanch&family=Satisfy&family=Shadows+Into+Light&family=Tourney&display=swap" rel="stylesheet">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"

  />
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">

    <link rel="stylesheet" href="{%static "styles/base.css"%}?{% now "U" %}">
    {%block styles%}
    {%endblock%}
</head>
<body>



<!-- ======================header starts============================================ -->
<header>
        <div class="when_sm">
            <div class="menu__ real_mn">
                <span class="material-icons"> menu </span>
                <!-- <span class="material-icons">drag_handle </span> -->
            </div>
            <div class="menu__ real_mn_drag">
                <span class="material-icons">drag_handle </span>
            </div>
            <h1 style="position: relative;">
                <a href="{%url "index"%}"> <span><span class="big">M</span><span class="small">OTIVATIVE</span><span class="big">Q</span><span class="small">UOTES</span></span> <img style="position: absolute;top: -5px;" src="{%static "images/category/l.png"%}" alt="motivative quotes logo" height="35px">  </a>
            </h1>
        </div>
        
        <nav>
            <ul class="big_nav">
                <li><a href="{%url "quote-of-the-day"%}">Quote of the Day</a></li>
                <li><a href="{%url "quote-maker"%}">Quote Maker</a></li>
                <li><a href="{%url "all-blogs"%}">Blog</a></li>
                <li><a href="{%url "contact"%}">Contact Us</a></li> 
            </ul> 
        </nav>  
        <div class="menu__ sh">
            <span class="material-icons"> search </span>
        </div>
       
</header>

<div class="miniHeader">

    <nav>
        <ul class="small_nav">
            <li><a href="{%url "quote-of-the-day"%}">Quote of the Day</a></li>
            <li><a href="{%url "quote-maker"%}">Quote Maker</a></li>
            <li><a href="{%url "all-blogs"%}">Blog</a></li>
            <li><a href="{%url "contact"%}">Contact Us</a></li> 
        </ul> 
    </nav> 

    <div></div>

</div>
<!-- ==============================header ends================================================ -->

{% if messages %} 
{% for message in messages %}
<div class="alert__box">
    <section>
        <i class="fas fa-times"></i>
        <p class="{{message.tags}} alert__p">{{message}}</p>
    </section>
      
</div>
{% endfor %}
{% endif %}




{%block mainContent%}
{%endblock%}

<div class="loader">

</div>
  
<!-- ======================footer===================================== -->
<footer>

    <div class="logo_quote">
        <!-- <h2> <a href="{%url "index"%}"> <span class="big">M</span><span class="small">OTIVATIVE</span><span class="big">Q</span><span class="small">UOTES🥰 </span> </a></h2> -->
        <h2 style="position: relative;"> <a href="{%url "index"%}"> <span><span class="big">M</span><span class="small">OTIVATIVE</span><span class="big">Q</span><span class="small">UOTES</span></span> <img style="position: absolute;top: -5px;" src="{%static "images/category/l.png"%}" alt="motivative quotes logo" height="35px">  </a></h2>

        <p>Work until your bank account looks like a phone number.</p>
        
    </div>


    <div class="site_links">
    <h3>Links</h3>
    <a href="{%url "contact"%}">Contact Us</a>
    <a href="">Sitemap</a>    
    <a href="">Privacy Policy</a>    
    </div>


    <div class="connect_us">
    <h3>Follow us on social media</h3>
    <div class="socials">
    <a href=""><i class="fab fa-facebook-square"></i></a>
    <a href=""><i class="fab fa-instagram"></i></a>
    <a href=""><i class="fab fa-youtube"></i></a>
    </div>
    
    </div>

</footer>
<!-- ==============footer end========================================= -->


{%block myscript%}
{%endblock%}
<script>
    try{
document.querySelector(".alert__box i").addEventListener('click',()=>{
    document.querySelector(".alert__box").style.display="none"
})
}
catch{
}

const menu = document.querySelector('.real_mn')
const header = document.querySelector('.miniHeader')
const menuDrag = document.querySelector('.real_mn_drag')
const menuSide = document.querySelector('.miniHeader div')

menu.addEventListener('click',()=>{
    header.style.display='flex'
    menuDrag.style.display='flex'
    menu.style.display='none'
})

menuDrag.addEventListener('click',()=>hideMenu())
menuSide.addEventListener('click',()=>hideMenu())

const hideMenu = ()=>{
    header.style.display='none'
    menuDrag.style.display='none'
    menu.style.display='flex'
}

</script>

</body>
</html>