*{
    margin: 0;padding: 0;box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'PT Sans', sans-serif;
    text-decoration: none;
}

body{
    background: #eeeeee6e;
} 


.alert__box{
    display: flex;
    justify-content: center;
     background: #0000006e;
     position: fixed;
     top: 0;
     left: 0;
     height: 100vh;
     width: 100%;
     z-index: 12222;
}

.alert__box section{
    height: 100px;
    width: 40%;
    margin-top: 15%;
    display: flex;
    align-items: center;
    position: relative;
    background-color: white;
    padding: 0 2rem;
}

.alert__box section p{
    font-weight: bold;
}

.alert__box i{
    color:white;
    position: absolute;
    top: 0;
    right: 0;
    background: black;
    padding: 5px 8px;
}
.alert__box i:hover{
    cursor: pointer;
}


 /* =================card================ */

 .relatedPosts{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 2rem;
}


/* ===========common styles=================== */
.title__{
    padding-left: 12%;
    margin: 2rem 0;
    font-weight: 400;
    font-size: 1.5rem;
}

.title___{
    padding:2rem 12%;
    margin:  0;
    font-weight: 400;
    background-color: white;
    font-size: 1.5rem;
}
/* ================common styles end======================= */




/* ==================header starts====================================== */
header{
    /* background: #CD0000; */
    /* background: #e12400d6; */
    background: #3524b5;
    padding: 0.5rem 12%;
    display: flex;
    align-items: center;
    height: 55px;
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    justify-content: space-between;
}


.auth_side{
    display: flex;
        color: white;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 1.3rem;
        padding: 0.5rem ;
        border-radius: 50%;
        cursor: pointer;
}



header h1 a{color: white;}

header h1{
    font-size: 1.3rem;
    /* font-weight: 500; */
    letter-spacing: 0.03em;
}

.when_sm{
    display: flex;
    align-items: center;
}

.big{
     font-family: 'Oswald', sans-serif;
}

nav{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu__{
    display: none;
}

.real_mn_drag{
    background: #ffffff21;
}

.big_nav{
    display: flex;
    margin-left: 4rem;

}
.big_nav li{
    list-style: none;
    padding: 0.5rem 1rem;
}
.big_nav li a{
    color: rgba(255, 255, 255, 0.9);
} 

.big_nav li a:hover{
    color: rgba(255, 255, 255);
}

.miniHeader{
    height: calc(100vh - 55px);
    width: 100%;
    position: fixed;
    top: 55px;
    left: 0;
    background: #00000078;
    z-index: 123;
    display: none;
}

.search form input{
    padding: 0.5rem 3rem;
    background: whitesmoke;
    outline: none;
    border-radius: 5px;
    width: 100%;
    font-family: 'PT Sans', sans-serif;
    border: 1px solid rgba(0, 0, 0, 0);
}

.search form input:focus{
    border: 1px solid black;
}

.search form input::placeholder{font-family: 'PT Sans', sans-serif;}
.search form{
    position: relative;
}
.search form i{
    position: absolute;
    top:20%;
    left: 5%;
    color: #000000;   
}


/* registration */
.auth_side p{
    font-size: 1rem;
    cursor: pointer;
}

#signupForm,#loginForm{
    display: none;
}



.signup{
 padding: 5px 15px;
 background: #5b4dc2;
 border-radius: 20px;
 margin-left: 1rem;
}

.userError,.passError,.emailError{
    display: none;
    color: red;
    font-size: 14px;
}
*{
    margin: 0;padding: 0;box-sizing: border-box;
}

.main_auth_section{
    font-family: 'Montserrat',sans-serif;
    height: 100vh;
    width: 100%;
    display: none;
    justify-content: center;
    position: fixed;
    z-index: 122222;
    background: rgba(0, 0, 0, 0.515);
    top: 0;
    left: 0;
}

.auth_section{
    margin-top:10vh;
    display: flex;
    width: 35vw;
    height: fit-content;
    border-radius: 10px;
    background: white;
    position: relative;
}

.top_right{
    position: absolute;
    z-index: 1;
    top: 15px;
    right: 20px;
    font-size: 2rem;
    font-weight: 300;
    cursor: pointer;
}


.icon__{
    position: relative;
}
.icon__ i{
    position: absolute;
    color: rgba(0, 0, 0, 0.6);
    top: 40%;
    right:5%;

}


.form_section{
    flex: 1;
    padding: 30px 50px;
    padding-top: 100px;
}


.welcome{
    margin-bottom: 0.8rem;
}
.welcome span{
    font-weight: 500;
}
.username,.password{
    background: none;
    border-radius: 45px;
    padding: 15px;
    outline: none;
    border: 1px solid rgba(167, 208, 255);
    width: 100%;
    margin: 10px 0;           
}

input::placeholder{
    letter-spacing: 0.1em;
}

.forget_pass{
    text-align: right;
    width: 90%;
    margin: .5rem;
    font-size: 15px;
}
.forget_pass a{
    text-decoration: none;
    color: rgb(76, 31, 211);
    cursor: pointer;
}

.login_btn{
    margin-top: 0.5rem;
    border: none;
    outline: none;
    padding: 12px 30px;
    background: rgba(22, 19, 54, 0.84);
    border-radius: 45px;
    color: white;
    font-weight: 500;
    width: 42%;
    transition: .1s linear;
}

   .login_btn:hover{
    cursor: pointer;
    transition: .1s linear;
    box-shadow: 0px 1px 3px #00000078;
}


.signup_inc{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.822);
    margin: 1rem 0;
}

.signup_inc a{
    text-decoration: none;
    color: rgb(76, 31, 211);
    font-weight: 500;
    cursor: pointer;
}


@media(max-width: 1150px){

    .auth_section{
        width: 80vw;
    }

}

@media(max-width: 768px){

.icon__ i{
    right:8%;
}

.auth_section{
    width: 60vw;
    box-shadow: 0px 1px 10px #00000042;
    height: 55vh;
}

.username,.password,.forget_pass{
  width: 100%;        
}
.form_section{
    padding: 30px;
    padding-top: 50px;
    }


}

@media(max-width: 699px){

.auth_section{
width: 70vw;
}

}

@media(max-width: 599px){

.auth_section{
width: 80vw;
}

}



/* ==================header ends====================================== */




/* ==============================footerstylestarts======================================== */
footer{
    background: white;
    padding: 3rem 12%;
    display: flex;
}

.logo_quote{
    flex: 1;
}

.logo_quote a{
    color: black;
}
.logo_quote p{
    color: gray;
    margin: 1rem 0;
}

.site_links{
    flex: 1;
    padding-left: 20%;
}

.site_links a{
    display: block;
    margin: 0.8rem 0;
}

.connect_us{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}

.site_links h3,.connect_us h3{
    font-weight: 500;
}

.socials a{
    display: block;
    margin: 1rem 0;
    margin-right: 2rem;
    font-size: 1.1rem;
}
.socials{
    display: flex;
}
/* ==============================footerstyleends======================================== */


@media (max-width:1300px){
    header{
        padding: 0.5rem 3%;
    }
    footer{
        padding: 2rem 3%;
    }
    .title__ {
        padding-left: 3%;
        margin: 2rem 0;
        font-weight: 400;
        font-size: 1.5rem;
    }

  }


@media(max-width:970px) {

    /* header */

    .auth_side{
        display: none;
    }

    header{
        justify-content: space-between;
    }

    .when_sm h1{
        margin-left: 1.5rem;
    }

    .menu__{
        color: white;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 1.3rem;
        padding: 0.5rem ;
        border-radius: 50%;
        cursor: pointer;
    }

    .real_mn{
        display: flex;
    }

    header nav{
        display: none;
    }

   
    nav{
        display: block;
        background-color: white;
        flex: 1;
        padding: 0rem 3%;
    }
    .small_nav li{
        width: max-content;
        margin: 2.5rem 0;
        list-style: none;
    }
    .small_nav a{
        font-size: 1.2rem;
        color: rgba(0, 0, 0, 0.719);
    }
    .miniHeader div{
          height: 100%;
          flex: 1;
          cursor: pointer;
    }
    .sh{
        display: flex;
    }

/* footer */

  
    .connect_us{
        margin-left: 0;
    }
}

@media (max-width:768px){
  footer{
      display: block;
  }
  .site_links {
    margin: 2rem 0;
    padding-left: 0;
}
}

@media (max-width:768px){
    .relatedPosts {
        grid-template-columns: 1fr;
    }
  }

@media (max-width:450px){
    .when_sm h1{
        margin-left: 0.5rem;
    }
    nav{
        flex: 2;
    }
}